---
layout: page
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>4<i class="fa fa-frown-o" aria-hidden="true"></i>4</h1>

  <p>
    <strong>Désolé, </strong>
    La ressource demandée n'est plus disponible à cette adresse. Vous pouvez probablement la retrouver dans le <b>menu</b> via les catégories.
  </p>
</div>
