<section id="banner" class="style2">
  <div class="inner">
    <span class="image">
      <img src="{{ site.image_baseurl }}{{ page.image }}" alt="">
    </span>
    <header class="major">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
</section>
