<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ "css/main.css" | relative_url }}" />
	<link rel="icon" type="image/png" href="{{ "favicon.png" | relative_url }}" />
	
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:image" content="{{ site.image_baseurl }}{{ page.image }}" />
</head>