<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% for page in site.pages %}
			{% if page.layout == "home" %}
				<li><a href="{{ "" | url }}/">{{ page.title }}</a></li>
			{% endif %}
		{% endfor %}
		
		{% for page in site.pages %}
			{% if page.layout != "home" and page.nav-menu == true %}
				<li><a href="{{ page.url | url }}">{{ page.title }}</a></li>
			{% endif %}
		{% endfor %}
		
		{% for category in site.categories %}
		  <li>{{ category.first | category_link }}</li>
		{% endfor %}
	</ul>
</nav>
