<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  {% include banner.html %}

  <!-- Main -->
  <div id="main" >
    <section id="two" class="spotlights categories">
      {% for post in site.categories[page.category] %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% unless year == this_year %}
          {% assign year = this_year %}
          <h2>{{ year }}</h2>
        {% endunless %}
        <section>
          <a href="{{ root_url }}{{ post.url }}" class="image">
            <img src="{{ site.image_baseurl }}{{ post.image }}" alt="" data-position="middle center" />
          </a>
          <div class="content">
            <div class="inner">
            <header class="major">
              <h3><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h3>
            </header>
            <span class='date'>Édité le {{ post.date | date_to_html_string }}</span>
            <p>{{ post.description }}</p>
            <div class="category-list">
              <span >Catégorie(s) liée(s)</span>
                <div>
                  {{ post.categories | category_links }}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    </section>
  </div>

  {% include footer.html %}

</body>

</html>
