<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <!-- Banner -->
  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>{{ page.landing-title }}</h1>
      </header>
      <div class="content">
        <p style="text-transform: uppercase;">{{ site.description }}</p>
        <ul class="actions">
          <li><a href="#two" class="button next scrolly">En savoir plus</a></li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Main -->
  <div id="main">

  <!-- One -->
  {% include tiles.html %}

  <!-- Two -->
  <section id="two">
    <div class="inner">
      <header class="major">
        <h2>À propos</h2>
      </header>
      <p>{{ content }}</p>
      <ul class="actions">
        <li><a href="landing.html" class="button next">Mes références externes</a></li>
      </ul>
    </div>
  </section>

  </div>

  {% include footer.html %}

</body>

</html>
