<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

  {% include header.html %}

  {% include banner.html %}

<!-- Main -->
<div id="main" class="alt">

	<!-- One -->
	<section id="one">
		<div class="inner">
			<p>{{ content }}</p>
			<div class="category-list">
				<h3>Publié dans les catégories suivantes</h3>
				{{ page.categories | category_links }}
			</div>
			{% disqus %}
		</div>
	</section>

</div>

  {% include footer.html %}

</body>

</html>
