.category-list {
  margin: 1em 0;
  padding: .5em;
  > div {
    border-top: dotted .1em;
    padding: 1em 0 0;
  }
  .category { 
    @extend .button;
    margin: .2em;
    font-size: .6em;
  }
}

.categories {
  > h2 {
    text-align: center;
  }
}