/**
 * Surbrillance du texte de code
 */
code {
  background: #828282 url('/noise.png') top left !important;
  color: #eee8d5 !important;
  border-radius: 1px !important;
}

.highlight pre {
  border-radius: 1px !important;
  padding: .2em !important;
}
.highlight pre code {
  font-family: "Courier", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36 url('/noise.png') top left !important;
  color: #93a1a1 !important;
  span { color: #93a1a1 !important; }
  span { font-style: normal !important; font-weight: normal !important; }

  .c      { color: #586e75 !important; font-style: italic !important; }                     /* Comment */
  .cm     { color: #586e75 !important; font-style: italic !important; }                     /* Comment.Multiline */
  .cp     { color: #586e75 !important; font-style: italic !important;  }                     /* Comment.Preproc */
  .c1     { color: #586e75 !important; font-style: italic !important; }                     /* Comment.Single */
  .cs     { color: #586e75 !important; font-weight: bold !important; font-style: italic !important; }   /* Comment.Special */
  .err    { color: #dc322f !important; background: none !important; }                                            /* Error */
  .k      { color: #cb4b16 !important; }                       /* Keyword */
  .o      { color: #93a1a1 !important; font-weight: bold !important; }                       /* Operator */
  .p      { color: #93a1a1 !important; }                                             /* Operator */
  .ow     { color: #2aa198 !important; font-weight: bold !important; }                       /* Operator.Word */
  .gd     { color: #93a1a1 !important; background-color: mix(#dc322f, #002b36, 25%) !important; display: inline-block; }               /* Generic.Deleted */
  .gd .x  { color: #93a1a1 !important; background-color: mix(#dc322f, #002b36, 35%) !important; display: inline-block; }               /* Generic.Deleted.Specific */
  .ge     { color: #93a1a1 !important; font-style: italic !important; }                      /* Generic.Emph */
  //.gr     { color: #aa0000 }                                          /* Generic.Error */
  .gh     { color: #586e75 !important; }                                          /* Generic.Heading */
  .gi     { color: #93a1a1 !important; background-color: mix(#859900, #002b36, 20%) !important; display: inline-block; }               /* Generic.Inserted */
  .gi .x  { color: #93a1a1 !important; background-color: mix(#859900, #002b36, 40%) !important; display: inline-block; }               /* Generic.Inserted.Specific */
  //.go     { color: #888888 }                                          /* Generic.Output */
  //.gp     { color: #555555 }                                          /* Generic.Prompt */
  .gs     { color: #93a1a1 !important; font-weight: bold !important; }                                       /* Generic.Strong */
  .gu     { color: #6c71c4 !important; }                                          /* Generic.Subheading */
  //.gt     { color: #aa0000 }                                          /* Generic.Traceback */
  .kc     { color: #859900 !important; font-weight: bold !important; }                       /* Keyword.Constant */
  .kd     { color: #268bd2 !important; }                       /* Keyword.Declaration */
  .kp     { color: #cb4b16 !important; font-weight: bold !important; }                       /* Keyword.Pseudo */
  .kr     { color: #d33682 !important; font-weight: bold !important; }                       /* Keyword.Reserved */
  .kt     { color: #2aa198 !important; }                       /* Keyword.Type */
  .n      { color: #268bd2 !important; }
  .na     { color: #268bd2 !important; }                                          /* Name.Attribute */
  .nb     { color: #859900 !important; }                                          /* Name.Builtin */
  .nc     { color: #d33682 !important;}                                                   /* Name.Class */
  .no     { color: #b58900 !important; }                                          /* Name.Constant */
  //.ni     { color: #800080 }                                          /* Name.Entity */
  .nl     { color: #859900 !important; }
  .ne     { color: #268bd2 !important; font-weight: bold !important; }                       /* Name.Exception */
  .nf     { color: #268bd2 !important; font-weight: bold !important; }                       /* Name.Function */
  .nn     { color: #b58900 !important; }                                          /* Name.Namespace */
  .nt     { color: #268bd2 !important; font-weight: bold !important; }                                          /* Name.Tag */
  .nx     { color: #b58900 !Important; }
  //.bp     { color: #999999 }                                          /* Name.Builtin.Pseudo */
  //.vc     { color: #008080 }                                          /* Name.Variable.Class */
  .vg     { color: #268bd2 !important; }                                          /* Name.Variable.Global */
  .vi     { color: #268bd2 !important; }                                          /* Name.Variable.Instance */
  .nv     { color: #268bd2 !important; }                                          /* Name.Variable */
  //.w      { color: #bbbbbb }                                          /* Text.Whitespace */
  .mf     { color: #2aa198 !important; }                                          /* Literal.Number.Float */
  .m      { color: #2aa198 !important; }                                          /* Literal.Number */
  .mh     { color: #2aa198 !important; }                                          /* Literal.Number.Hex */
  .mi     { color: #2aa198 !important; }                                          /* Literal.Number.Integer */
  //.mo     { color: #009999 }                                          /* Literal.Number.Oct */
  .s      { color: #2aa198 !important; }                                             /* Literal.String */
  //.sb     { color: #d14 }                                             /* Literal.String.Backtick */
  //.sc     { color: #d14 }                                             /* Literal.String.Char */
  .sd     { color: #2aa198 !important; }                                             /* Literal.String.Doc */
  .s2     { color: #2aa198 !important; }                                             /* Literal.String.Double */
  .se     { color: #dc322f !important; }                                             /* Literal.String.Escape */
  //.sh     { color: #d14 }                                             /* Literal.String.Heredoc */
  .si     { color: #268bd2 !important; }                                             /* Literal.String.Interpol */
  //.sx     { color: #d14 }                                             /* Literal.String.Other */
  .sr     { color: #2aa198 !important; }                                          /* Literal.String.Regex */
  .s1     { color: #2aa198 !important; }                                             /* Literal.String.Single */
  //.ss     { color: #990073 }                                          /* Literal.String.Symbol */
  //.il     { color: #009999 }                                          /* Literal.Number.Integer.Long */
  div { .gd, .gd .x, .gi, .gi .x { display: inline-block; width: 100%; }}
}